.maindiv{
    background-color: rgb(207, 251, 220);
}
.header img {
    float: left;
    width: 10px;
    height: 10px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  