body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align:center;
  color: green;
  font-style: italic;
}

ul {
  font-size: 0; /* Eliminate spacing between inline block elements */
  text-align: justify;
  width: 100%;
  background: #cacaca;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.note {
  color: rgb(243, 0, 0);
  padding-top: 5px;
  font-size: 15px;
}

.delete {
  background-color: rgb(230, 255, 4);
  padding-top: 5px;
  font-size: 15px;
}